{{ partial "head" . }}
<body class="is-single">
{{ partial "header" . }}
<main class="single">
  <div class="container">
    <article class="article">
      <header class="article__header">
        <time class="article__date">
          {{ .Date.Format .Site.Params.DateForm }}
        </time>
        <h1 class="article__title">{{ if .Draft }}[Draft]{{ end }}{{ .Title }}</h1>
      </header>
      <div class="article__body">
        <div id="" class="long-text">
          {{ .Content }}
        </div>
      </div>
    </article>
  </div>
  {{ partial "previous-next-nav.html" . }}
</main>

{{ if .Site.DisqusShortname }}{{ partial "disqus" . }}{{ end }}

{{ partial "footer" . }}
</body>
