.footer-copyright
  display: block
  text-align: center
  line-height: 1
  +media-breakpoint-up(md)
    font-size: 1rem
  +media-breakpoint-down(sm)
    font-size: .8125rem
  a
    color: $default-text
    +hover-link

.footer-copyright__copy
  +margin(horizontal, .25em)

.footer-copyright__author
  +margin(horizontal, .25em)
