<footer class="footer" id="footer" role="contentinfo">
  <div class="footer__inner">
    {{ partial "footer-copylight.html" . }}
  </div>
</footer>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/{{ .Site.Params.highlight.theme }}.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
