.article__header
  margin-bottom: 1.25em

.article__date
  display: block
  margin-bottom: .8125em
  line-height: 1.5

.article__title
  line-height: 1.5
  display: flex
  font-weight: 800
  font-size: 2em

.article__title-link
  text-decoration: none
  display: block
  color: $default-text
  pointer-events: none
