.previous-next-nav
  +media-breakpoint-up(md)
    margin-top: 3em

.previous-next-nav__items
  display: flex
  justify-content: space-between
  align-items: center

.previous-next-nav__item
  max-width: 40%
  &.is-previous
    text-align: left
    flex: 2
  &.is-index
    text-align: center
    flex: 1
  &.is-next
    text-align: right
    flex: 2

.previous-next-nav__link
  +flex-link
  align-items: center
  +text-block(1em 1.5, $default-text)
  +hover-link
  +media-breakpoint-up(md)
    .previous-next-nav__item.is-previous &,
    .previous-next-nav__item.is-next &
      span
        display: block
        max-width: 100%
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
    .previous-next-nav__item.is-previous &
      justify-content: flex-start
    .previous-next-nav__item.is-index &
      justify-content: center
    .previous-next-nav__item.is-next &
      justify-content: flex-end

.previous-next-nav__icon
  font-size: 1em
  &.is-previous
    margin-right: .5rem
    +media-breakpoint-down(sm)
      margin: 0
  &.is-next
    margin-left: .5rem
    +media-breakpoint-down(sm)
      margin: 0
